.container {
  display: block;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
  /* overflow: hidden; */
  text-decoration: none;
}

.head {
  height: 90px;
}

.info {
  padding: 13px;
}

.info img {
  text-align: center;
  margin-top: -90px;
}

.info .img img {
  width: 100%;
  height: auto;
}

.info .catName {
  font-weight: 500;
  font-size: 10px;
  color: var(--gray-900);
}

.info .name {
  font-weight: 700;
  font-size: 18px;
  color: var(--gray-900);
}

.info .price {
  font-weight: 600;
  font-size: 15px;
}
