.container {
  background-color: var(--background);
}

.header {
  background-color: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  color: var(--title);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.headerSubtitle {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(151, 151, 151, 0.8);
  margin-bottom: 27px;
}

.menuButton {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 16px;
  justify-content: space-between;
  margin-top: 9px;
}

.menuButtonLine {
  background-color: #000;
  height: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding: 0 24px 0 24px;
}
