.container {
  background-color: var(--background);
}

.header {
  background-color: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
}

.headerTopLeft {
}

.headerTitle {
  color: var(--title);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.headerSubtitle {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(151, 151, 151, 0.8);
  margin-bottom: 27px;
}

.headerTopRigth {
}

.menuButton {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 16px;
  justify-content: space-between;
  margin-top: 9px;
}

.menuButtonLine {
  background-color: var(--primary);
  height: 2px;
}

.headerBottom {
}
